name: Tests

on:
  push:
    paths:
      - '**.php'
      - '.github/workflows/run-tests.yml'
      - 'phpunit.xml'
      - 'composer.json'
      - 'composer.lock'

concurrency:
  group: ${{ github.repository }}-jobs
  cancel-in-progress: false

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        php: [8.3, 8.2]
        stability: [prefer-lowest, prefer-stable]

    name: P${{ matrix.php }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Run syntax checks
        run: vendor/bin/grumphp run --tasks=composer,phplint

      - name: Run security checks
        run: vendor/bin/grumphp run --tasks=securitychecker_roave

      - name: Run style checks
        run: vendor/bin/grumphp run --tasks=phpcs

      - name: Run static analysis
        run: vendor/bin/grumphp run --tasks=phpstan

      - name: Run unit tests
        env:
          ISSUU_API_KEY: ${{ secrets.ISSUU_API_KEY }}
        run: vendor/bin/grumphp run --tasks=phpunit
      